{% extends 'base.html' %} {% block content %}
<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img src="{{ article_user.profile.img }}" class="user-img" />
          <h4>{{ article_user.username }}</h4>
          <p>{{ article_user.profile.bio }}</p>
          <turbo-frame
                  id="follow-button-{{ article_user.username }}"
                  src="{% url 'follow_profile' article_user.username %}"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link active" href="">My Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Favorited Articles</a>
            </li>
          </ul>
        </div>

        {% include 'articles/list.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
