{% extends 'base.html' %} {% block content %}
<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img src="{{ article_user.profile.img }}" class="user-img" />
          <h4>{{ article_user.username }}</h4>
          <p>{{ article_user.profile.bio }}</p>
          <button class="btn btn-sm btn-outline-secondary action-btn">
            <i class="ion-plus-round"></i>
            &nbsp; Follow {{ article_user.username }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a
                class="nav-link {% if active_tab == 'my_articles' %}active{% endif %}"
                href="{% url 'profile_view' profile=article_user.profile %}"
                >My Articles</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if active_tab == 'favorited' %}active{% endif %}"
                href="{% url 'profile_view' profile=article_user.profile %}?active_tab=favorited"
                >Favorited Articles</a
              >
            </li>
          </ul>
        </div>
        <turbo-frame
          id="article-list"
          src="{% url 'article_list'%}?{{article_params}}"
        >
          Loading...
        </turbo-frame>
      </div>
    </div>
  </div>
</div>
{% endblock %}
