{% extends 'base.html' %} {% block content %}

<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>
        <div class="error-messages">
          {{ form.bio.errors }} {{ form.password.errors }} 
          {{ form.image.errors }}
        </div>

        <form method="post">
          {% csrf_token %}
          <fieldset class="form-group">{{ form.image }}</fieldset>
          <fieldset class="form-group">{{ form.bio }}</fieldset>
          <fieldset class="form-group">{{ form.password }}</fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
            Update Settings
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
