{% extends 'base.html' %} {% block content %}
<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>

      <div class="article-meta">
        <a href=""><img src="{{ article.author.img }}" /></a>
        <div class="info">
          <a href="{% url 'profile_view' article.author.user.username %}" class="author">{{ article.author }}</a>
          <span class="date">{{ article.created_at }}</span>
        </div>
        <button class="btn btn-sm btn-outline-secondary">
          <i class="ion-plus-round"></i>
          &nbsp; Follow {{ article.author }} <span class="counter">({{ article.author.followed_by.count }})</span>
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-sm btn-outline-primary">
          <i class="ion-heart"></i>
          &nbsp; Favorite Post <span class="counter">({{ article.favorited_by.count }})</span>
        </button>
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <p>
            {{ article.description }}
        </p>
        <p>{{ article.body|linebreaks }}</p>
      </div>
    </div>

    <hr />

    <div class="article-actions">
      <div class="article-meta">
        <a href="profile.html"><img src="{{ article.author.img }}" /></a>
        <div class="info">
          <a href="" class="author">{{ article.author }}</a>
          <span class="date">{{ article.created_at }}</span>
        </div>

        <button class="btn btn-sm btn-outline-secondary">
          <i class="ion-plus-round"></i>
          &nbsp; Follow {{ article.author }} <span class="counter">({{ article.author.followed_by.count }})</span>
        </button>
        &nbsp;
        <button class="btn btn-sm btn-outline-primary">
          <i class="ion-heart"></i>
          &nbsp; Favorite Post <span class="counter">({{ article.favorited_by.count }})</span>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

       <turbo-frame id="add_comment" src="{% url 'add_comment' article.slug %}">
       </turbo-frame>

      <turbo-frame id="comments">
       {% for comment in article.comments.all %}

           {% include 'articles/_comment.html' %}

       {% endfor %}
      </turbo-frame>

      </div>
    </div>
  </div>
</div>
{% endblock %}
