{% extends 'base.html' %} {% block content %}

<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <div class="error-messages">
          {{ form.title.errors }} {{ form.description.errors }} 
          {{ form.body.errors }} {{ form.tags.errors }}
        </div>

        <form method="post">
          {% csrf_token %}
          <fieldset class="form-group">{{ form.title }}</fieldset>
          <fieldset class="form-group">{{ form.description }}</fieldset>
          <fieldset class="form-group">{{ form.body }}</fieldset>
          <fieldset class="form-group">{{ form.tags }}</fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
            Publish Article
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
