{% for article in articles %}
<div class="article-preview">
  <div class="article-meta">
    <a href="{% url 'profile_view' profile=article.author.user.username %}"
      ><img src="{{ article.author.img }}"
    /></a>
    <div class="info">
      <a
        href="{% url 'profile_view' profile=article.author.user.username %}"
        class="author"
      >
        {{ article.author.user.username }}
      </a>
      <span class="date">{{ article.created_at }}</span>
    </div>

    <div class="pull-xs-right">
      <turbo-frame
        id="favorite-button-{{ article.slug }}"
        src="{% url 'article_favorite' article.slug %}"
      />
    </div>
  </div>
  <a href="{% url 'article_view' article.slug %}" class="preview-link">
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>Read more...</span>
  </a>
</div>
{% empty %}
<div class="article-preview">No articles are here... yet.</div>
{% endfor %}
