{% extends 'base.html' %} {% block content %}
<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A Hotwire Django implementation.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <turbo-frame id="article-list" src={% url 'article_list'%}>
          Loading...
        </turbo-frame>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>
          <div class="tag-list">
            {% for tag in tags %}
            <a
              href="{% url 'article_list' %}?tag={{ tag.slug }}"
              class="tag-pill tag-default"
              data-turbo-frame="article-list"
              >{{ tag }}</a
            >
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
